<div class="modal-header">
    <h3 class="modal-title">Container's list running processes</h3>
</div>
<div class="modal-body" ng-keypress="onKeyPress($event)">

  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="title in top.Titles">{{ title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="process in top.Processes">
        <td ng-repeat="data in process">{{ data }}</td>
      </tr>
    </tbody>
  </table>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>