<div class="modal-header">
    <h3 class="modal-title">Commit Container to new Image</h3>
</div>
<div class="modal-body" ng-keypress="onKeyPress($event)">
  <form role="form">
    <fieldset>
      <div class="form-group">
          <label>Image name:</label>
          <input type="text" class="form-control" ng-model="config.name"/>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="commit()">Commit</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>