<div class="page-header" ng-if="containers.length > 0">
  <h1> <i class="fa fa-th"></i>  Containers</h1>
</div>
<div class="panel panel-default" ng-if="containers.length > 0">
  <div class="panel-heading" ng-hide="containers.length < searchThreshold">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input ng-model="search" class="form-control" placeholder="Containers search for ...">
      <span class="input-group-btn" ng-show="images.length > viewLimit">
        <button class="btn btn-default" type="button" ng-click="viewLimit=999">Show All</button>
      </span>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Name</th>
          <th>
            <a href ng-click="sort='Status'; reverse=!reverse">
              <i class="fa fa-sort"></i> Status
            </a>
          </th>
          <th>
            <a href ng-click="sort='Image'; reverse=!reverse">
              <i class="fa fa-sort"></i> Image
            </a>
          </th>
          <th>
            <a href ng-click="sort='Created'; reverse=!reverse">
              <i class="fa fa-sort"></i> Created
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="container in containers | filter:search | limitTo:viewLimit | orderBy:sort:reverse"
        ng-if="settings.advanced || !imageFilter(container, 'amhub')"
        ng-init="name=container.Names[0].slice(1)">
          <td>
            <button class="btn btn-success btn-xs" ui-sref="startContainer({name: name})"
            ng-if="container.Status.indexOf('Up')">
              Start
            </button>
            <button class="btn btn-warning btn-xs" ui-sref="stopContainer({name: name})"
            ng-if=" !container.Status.indexOf('Up')">
              Stop
            </button>
            <button class="btn btn-info btn-xs" ui-sref="commitContainer({name: name})">
              Commit
            </button>
            <button class="btn btn-danger btn-xs" ui-sref="removeContainer({name: name})">
              Remove
            </button>
          </td>
          <td>
            <li ng-repeat='name in container.Names'>
              <a ui-sref="containerInfo({name: name.slice(1)})">{{:: name.slice(1) }}</a>
            </li>
          </td>
          <td>
            <span class="label label-{{::container.Status.indexOf('Up')?'danger':'success'}}">
              {{:: container.Status }}
            </span>
          </td>
          <td>
            <a ui-sref="imageInfo({name: container.Image})" ng-if="settings.advanced">
              {{:: container.Image }}
            </a>
            <span ng-if=" !settings.advanced">{{:: container.Image }}</span>
          </td>
          <td>{{:: container.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>