<div class="modal-header modal-danger">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title">
    <i class="fa fa-exclamation-triangle"></i> Remove Image and its Containers
  </h3>
</div>
<div class="modal-body" key-enter="remove()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Image</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="image in images">
          <a ng-if="image.RepoTags != '<none>:<none>'" ui-sref="imageInfo({name: image.RepoTags[0]})">
            {{:: image.RepoTags[0] }}
          </a>
          <span ng-if="image.RepoTags == '<none>:<none>'">{{:: image.RepoTags[0] }}</span> 
        </li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Containers</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="container in imageContainers">
          <a ui-sref="containerInfo({name: container.Names[0].slice(1)})">
            {{:: container.Names[0].slice(1) }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
  <button class="btn btn-danger" ng-click="remove()">Remove</button>
</div>