<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-paper-plane"></i> Start Container</h3>
</div>
<div class="modal-body" key-enter="start()">
  <form class="form-horizontal">
  <div ui-view="bindingAddress"></div>
  <div class="form-group" ng-if="settings.advanced">
    <label for="name" class="col-lg-3 control-label">Settings</label>
    <div class="col-lg-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="restartPolicy.value" 
            ng-true-value="{'Name':'always','MaximumRetryCount':0}"
            ng-false-value="{}">
          Allow Auto restart
        </label>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
  <button class="btn btn-primary" ng-click="start()">Start</button>
</div>