<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-info-circle"></i> Image</h3>
</div>
<div class="modal-body" key-enter="close()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Details</h3>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Created</th>
            <td>{{:: image.Created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th>Environment</th>
            <td>
              <ul style="display:inline-table">
                <li ng-repeat="k in image.Config.Env">{{:: k }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Exposed ports</th>
            <td>
              <ul style="display:inline-table">
                <li ng-repeat="(k,v) in image.Config.ExposedPorts">{{:: k }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Hostname</th>
            <td>{{:: image.Config.Hostname }}</td>
          </tr>
          <tr>
            <th>Volumes</th>
            <td>
              <ul style="display:inline-table">
                <li ng-repeat="(k,v) in image.Config.Volumes">{{:: k }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Size</th>
            <td>{{:: image.Size }}</td>
          </tr>
          <tr>
            <th>Virtual Size</th>
            <td>{{:: image.VirtualSize }}</td>
          </tr>           
        </tbody>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Containers</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="container in imageContainers">
          <a ui-sref="containerInfo({name: container.Names[0].slice(1)})">
            {{ container.Names[0].slice(1) }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>