<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-files-o"></i> Create Container</h3>
</div>
<div class="modal-body" key-enter="create()">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-lg-3 control-label">Name</label>
      <div class="col-lg-9"> 
        <input type="text" class="form-control" id="name" 
        placeholder="Enter name" ng-model="name">
      </div>
    </div>
    <div class="form-group" ng-hide="!settings.advanced || !image.Config.Volumes">
      <label for="name" class="col-lg-3 control-label">Binding Volumes</label>
      <div class="col-lg-9"> 
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-lg-6">Host</th>
                  <th>Container</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(k,v) in image.Config.Volumes">
                    <td>
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="checked" ng-click="hostVolumes[$index] = ''">
                        </span>
                        <input type="text" class="form-control" ng-model="hostVolumes[$index]" 
                        ng-disabled="!checked" placeholder="{{checked?'Enter volume ...':'Random'}}">
                      </div>
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm" disabled ng-model="k">
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-hide="!settings.advanced || !image.Config.ExposedPorts">
      <label for="name" class="col-lg-3 control-label">Binding Ports</label>
      <div class="col-lg-9"> 
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-lg-6">Host</th>
                  <th>Container</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(k,v) in bindingPorts">
                    <td>
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="checked" ng-click="v[0].HostPort = ''">
                        </span>
                        <input type="text" class="form-control" ng-model="(v[0])['HostPort']" 
                        placeholder="{{checked?'Enter port ...':'Random'}}" ng-disabled="!checked">
                      </div>
                    </td>
                    <td>
                      <input type="text" class="form-control input-sm" disabled ng-model="k">
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
  <button class="btn btn-primary" ng-click="create()">Create</button>
</div>