<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-floppy-o"></i> Commit Container</h3>
</div>
<div class="modal-body" key-enter="commit()">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-lg-3 control-label">New Image name</label>
      <div class="col-lg-9"> 
        <input type="text" class="form-control" id="name" 
        placeholder="Enter name" ng-model="name">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
  <button class="btn btn-primary" ng-click="commit()">Commit</button>
</div>