<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-cloud"></i> Browse Repos</h3>
</div>
<div class="modal-body" key-enter="search()">


  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" placeholder="Search for ..."
        ng-model="searchfor" ng-change="search()" ng-model-options="{debounce:600}">
        <span class="input-group-addon">
          <input type="checkbox" ng-model="official" ng-true-value="true" ng-false-value="''"> 
          <i class="fa fa-star"></i>
        </span>
      </div>
    </div>
    <div class="table-responsive" ng-show="filtered.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Actions</th>
            <th></th>
            <th>Image</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="repo in (filtered = repos | filter:{is_official:official}) | orderBy:sort">
            <td>
              <button class="btn btn-primary btn-xs" ng-click="pull(repo.name)">Pull Image</button>
            </td>
            <td><i class="fa fa-star" ng-if="repo.is_official"></i></td>
            <td>
              <a target="_blank" 
              href="https://registry.hub.docker.com/{{::repo.is_official?'_':'u'}}/{{::repo.name}}/">
                {{:: repo.name }}
              </a>
            </td>
            <td>{{:: repo.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>