<div class="panel panel-default" ng-if="networks.length > 0">
  <div class="panel-heading">
    <h3 class="panel-title">Networks</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Name</th>
          <th>Subnet</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="net in networks">
          <td ng-switch on="net.Containers[container.Id] !== underfined">
            <a ng-switch-when="true" class="btn btn-danger btn-xs" style="margin-bottom:2px" 
            ng-click="disconnect(container.Id, net.Id)">Disconnect</a>
            <a ng-switch-when="false" class="btn btn-success btn-xs" style="margin-bottom:2px" 
            ng-click="connect(container.Id, net.Id)">Connect</a>
          </td>
          <td>{{ net.Name }}</td>
          <td><span ng-repeat="config in net.IPAM.Config">{{ config.Subnet }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>