<div class="modal-header">
    <h3 class="modal-title">Remove Image and all its Containers</h3>
</div>
<div class="modal-body" ng-keypress="onKeyPress($event)">

  <h4>Image: {{ image.RepoTags[0] }}</h2>
  <h4 ng-repeat="container in imageContainers">Container: {{ container.Names[0].slice(1) }}</h4>

  <p>Are you sure?</p>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="remove()">Remove</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>