<div class="modal-header">
  <button class="close" ng-click="close()"><span>&times;</span></button>
  <h3 class="modal-title"><i class="fa fa-cog"></i> Settings</h3>
</div>
<div class="modal-body" key-enter="close()">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="filter" class="col-lg-2 control-label">Filter</label>
      <div class="col-lg-10"> 
        <input type="text" class="form-control" id="filter" 
        placeholder="Enter filter" ng-model="settings.filter" ng-change="updateCookies()">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">View</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.advanced" ng-value="false" ng-change="updateCookies()">
            Simple view
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.advanced" ng-value="true" ng-change="updateCookies()">
            Advanced view
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>